.main {
  width: 100%;
  height: 100%;
}

.cameraContainer {
  width: 80%;
  height: 90%;
  float: left;
  overflow: auto;
}

.cameraElement {
  display: inline-block;
  padding: 20px;
}

.localCameraElement {
  display: inline-block;
  padding: 20px;
}

.localCameraListElement {
  position: fixed;
  width: 50%;
    height: 100%;
    top: 20%;
}
.cameraListContainer {
  float: right;
  width: 50%;
  height: 100%;
  overflow: auto;
}
.side {
  width: 20%;
  height: 100%;
  float: right;
}

.chatElement {
  height: 50%;
  overflow: auto;
  background: rgba(0,0,0,0.1);
}

.chatMessage {
  height: 85%;
  overflow: auto;
  padding: 10px;
}

.chatButton {
  height: 10%;
  text-align: center;
}

.sideElement {
  padding-top: 20px;
  height: 20%;
  overflow: auto;
  background: rgba(0,0,0,0.2);
  padding: 10px;
  border-width: 2px 0px 2px 0px;
  border-color: white;
  border-style: solid;
}

.sideTitle {
  font-size: 20px;
  padding-bottom: 5px;
}

.footer {
  width: 80%;
  height: 10%;
  float: left;
}