.main {
  width: 100%;
  height: 100%;
}

.cameraContainer {
  width: 80%;
  height: 90%;
  float: left;
  overflow: auto;
}

.cameraListElement {
  display: inline-block;
  position: relative;
  padding: 20px;
}

.cameraTileElement {
  display: inline-block;
  position: relative;
  padding: 20px;
  //max-width: 45%;
}

.localCameraTileContainer {
  display: inline-block;
  position: relative;
  padding: 20px;
  //max-width: 45%;
}

.localCameraTileContainer {
  display: inline-block;
  position: relative;
}

.localCameraListContainer {
  position: fixed;
  width: 50%;
}

.stateContainer{
  position: absolute; 
  padding: 20px;
  z-index: 999;
  font-size: 50px;
  color: rgba(255,255,255,0.75);
}

.nameContainer{
  position: absolute; 
  z-index: 999;
  font-size: 15px;
  color: black;
  background-color: rgba(255,255,255,0.5);
}

.cameraListContainer {
  float: right;
  width: 30%;
  height: 100%;
  overflow: auto;
}

.localCameraNull {
  width: 100%;
  height: 75%;
  display: flex;
  background:black;
  font-size: 150px;
  color: rgba(255,255,255,0.5);
  align-items: center;
  justify-content: center;
}

.localCameraNullTile {
  width: 100%;
  height: 100%;
  display: flex;
  background:black;
  font-size: 150px;
  color: rgba(255,255,255,0.5);
  align-items: center;
  justify-content: center;
}

.side {
  width: 20%;
  height: 100%;
  float: right;
}

.chatElement {
  height: 45%;
  overflow: auto;
  background: rgba(0,0,0,0.1);
}

.chatMessage {
  height: 85%;
  overflow: auto;
  padding: 10px;
}

.chatButton {
  height: 10%;
  text-align: center;
}

.sideElement {
  padding-top: 20px;
  height: 20%;
  overflow: auto;
  background: rgba(0,0,0,0.2);
  padding: 10px;
  border-width: 2px 0px 2px 0px;
  border-color: white;
  border-style: solid;
}

.sideTitle {
  font-size: 20px;
  padding-bottom: 5px;
}

.footer {
  width: 80%;
  height: 10%;
  float: left;
}